body {
      background-color: rgb(255, 236, 239);
}

footer {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

footer p {
    text-align: center;
    font-size: 0.5rem;
}